.tabbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
}

.tabbar button {
  flex: 1;
  border: none;
  background: none;
  font-size: 22px;
}
